.badge {
  background-color: tomato;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  font-weight: 600;
}
.badge-sm {
  width: 10px;
  height: 10px;
}

.user-component__subtitle i {
  color: tomato;
}
