.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgba(122, 121, 121, 0.2);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  background-color: #f9f9fa;
  padding: 20px 40px;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

.nav__notification {
  position: absolute;
  left: 20px;
  bottom: 15px;
}

.nav__link:nth-child(4) .nav__notification {
  width: 8px;
  height: 8px;
  left: 30px;
  bottom: 25px;
}
